<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants App</title>
  </head>
  <body>
    <h1>Welcome to the Restaurants app!</h1>
    <p>An app for saving restaurants you want to try in the future.</p>
    <nav>
        <ul>
            <li>
                <a href="/restaurants">Browse Restaurants</a>
            </li>
            <li>
                <a href="/restaurants/new">Add a New Restaurants</a>
            </li>
        </ul>
    </nav>
  </body>
</html>
