<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css" />

     <title>Restaurant Index</title>
 </head>
 <body>
    <div class="index-header-div">
        <h1>All Restaurants</h1>
        <nav>
            <ul>
                <li>
                    <a class="add-restaurant" href="/restaurants/new">Add New Restaurant</a>
                </li>
        </nav>
    </div>



     <ul>
         <% restaurants.forEach(restaurant => { %>
             <li>
                <a class="restaurant-cards"href="/restaurants/<%= restaurant._id %>">
                    <%= restaurant.name %>
                </a>
            </li>
         <% }); %>
     </ul>
 </body>
 </html>