<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Restaurant Index</title>
 </head>
 <body>

     <h1>All Restaurants</h1>
     <nav>
        <ul>
          <li>
            <a href="/restaurants/new">Add New Restaurant</a>
          </li>
      </nav>
     <ul>
         <% restaurants.forEach(restaurant => { %>
             <li>
                <a href="/restaurants/<%= restaurant._id %>">
                    <%= restaurant.name %>
                </a>
            </li>
         <% }); %>
     </ul>
 </body>
 </html>