<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Restaurant Show Page</title>
 </head>
 <body>
     <h1><%= restaurant.name %></h1>
     <nav>
        <ul>
            <li>
                <a href="/restaurants">Back to Restaurants</a>
            </li>
        </ul>
    </nav>
     <h2><%= restaurant.address  %></h2>
     <h2><%= restaurant.city  %>, <%= restaurant.state  %></h2>
     <% if (restaurant.dishToTry) { %>
         <p>You have a dish you want to try here!</p>
     <% } else { %>
         <p>You don't have a dish you want to try yet!</p>
     <% } %>
 </body>
 </html>